<div class="dashboard-layout">
  <app-sidebar
    [isCollapsed]="isSidebarCollapsed()"
    (toggle)="toggleSidebar()"
  ></app-sidebar>

  <div class="main-content">
    <div class="welcome-box">
      <div class="welcome-msg">Welcome back, Olivia</div>
      <div class="search-export">
        <feather-icon name="Search"></feather-icon>

        <button>
          <feather-icon name="toggle-left"></feather-icon>Customize
        </button>
        <button>
          <feather-icon name="download-cloud"></feather-icon>Export
        </button>
      </div>
    </div>

    <app-bar-graph></app-bar-graph>
    <app-table></app-table>
  </div>
</div>
